* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;

    background: #f3f4f6;

    color: #222;

    min-height: 100vh;

    transition: 0.3s;
}


.app {
    width: 100%;

    max-width: 500px;

    margin: auto;

    padding: 25px 15px;
}


/* Profile */

.profile {
    text-align: center;

    margin-bottom: 20px;
}


.avatar {
    width: 80px;
    height: 80px;

    margin: auto;

    border-radius: 50%;

    background: #222;

    color: white;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 24px;

    font-weight: bold;

    margin-bottom: 15px;
}


.profile h1 {
    font-size: 25px;

    margin-bottom: 8px;
}


.profile p {
    font-size: 14px;

    color: #666;
}


/* Theme Button */

.theme-section {
    text-align: right;

    margin-bottom: 20px;
}


#themeBtn {
    border: none;

    padding: 9px 14px;

    border-radius: 20px;

    cursor: pointer;

    background: #222;

    color: white;
}


/* Dashboard */

.dashboard {
    background: white;

    padding: 20px;

    border-radius: 12px;

    margin-bottom: 25px;
}


.dashboard h2,
.link-tree h2 {
    margin-bottom: 15px;

    font-size: 20px;
}


#linkForm {
    display: flex;

    flex-direction: column;

    gap: 10px;
}


#linkForm input {
    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 7px;

    font-size: 14px;
}


#linkForm button {
    padding: 12px;

    border: none;

    border-radius: 7px;

    background: #222;

    color: white;

    cursor: pointer;

    font-size: 15px;
}


#errorMessage {
    color: red;

    font-size: 14px;

    margin-top: 10px;

    min-height: 20px;
}


/* Link Tree */

.link-tree {
    text-align: center;
}


.link-item {
    display: flex;

    gap: 8px;

    margin-bottom: 12px;
}


.link-button {
    flex: 1;

    padding: 14px;

    background: white;

    color: #222;

    border-radius: 8px;

    text-decoration: none;

    font-weight: bold;

    border: 1px solid #ddd;

    transition: 0.2s;
}


.link-button:hover {
    transform: translateY(-2px);
}


.delete-btn {
    padding: 10px 12px;

    border: none;

    border-radius: 8px;

    background: #dc3545;

    color: white;

    cursor: pointer;
}


/* DARK MODE */

body.dark {
    background: #121212;

    color: white;
}


body.dark .profile p {
    color: #bbb;
}


body.dark .dashboard {
    background: #1e1e1e;
}


body.dark #linkForm input {
    background: #2b2b2b;

    color: white;

    border-color: #444;
}


body.dark #linkForm button {
    background: white;

    color: #111;
}


body.dark .link-button {
    background: #1e1e1e;

    color: white;

    border-color: #444;
}


body.dark #themeBtn {
    background: white;

    color: #111;
}


/* Desktop */

@media (min-width: 600px) {

    .app {
        padding-top: 40px;
    }

}